@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

/* css resets */
* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #424242;
}

header, div, section, span, ul, li, a {
  box-sizing: border-box;
}
/*css resets*/

.wrapper {
    width: 80%;
    left: 8%;
    position: relative;
}

table {
	width: 100%;
	border: 2px solid #000000;
	border-radius: 8px;
	padding: 10px;
}

.form-row {
	width: 100%;
	border: 1px solid #000000;
	border-radius: 8px;
	padding: 10px;
	margin-bottom: 10px;
}

input[type="text"],input[type="number"] {
    padding: 7px 0px;
}

input[type="date"],input[type="file"] {
    padding: 5px;
}

.form-fields {
	border: 1px solid #525252;
	border-radius: 4px;
}

.add-btn {
    font-size: 24px;
    width: 30px;
    height: 30px;
    background-color: #ffffff;
    border: 1px solid #525252;
    border-radius: 4px;
}